.cart-summary {
  padding: 20px;
  margin-left: 20px;

  width: 512px;
}

.summary-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;

  padding: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #1a1a1a;

  text-align: center;

  width: fit-content;
}

.cart-summary p {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.checkout-button {
  background-color: #0c312f;
  color: white;
}

.paypal-button {
  border: 1px solid #0c312f;
  color: black;
  background: none;
}

.secure-payments {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.secure-payments img {
  margin-left: 10px;
}
