@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.cart-summary {
  padding: 20px;
  margin-left: 20px;

  width: 512px;
}

.cart-summary-header {
  display: flex;
  justify-content: center;
}

.summary-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;

  padding: 8px;
  margin-bottom: 20px;
  width: fit-content;

  text-align: center;

  position: relative;
  color: #1a1a1a;
}

.summary-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #10413f;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.cart-summary p {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.checkout-button {
  background-color: #0c312f;
  color: white;
}

.paypal-button {
  border: 1px solid #0c312f;
  color: black;
  background: none;
}

.secure-payments {
  margin-top: 20px;
}

.secure-payments p {
  font-size: 16px;
  font-weight: 700;
  line-height: 21.82px;
  text-align: left;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  cursor: pointer;
}
