.cart {
  flex: 1;
  padding: 20px;

  width: 646px;
}

.hello {
  margin-bottom: 16px;
}

.cart h3 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-align: left;

  margin-bottom: 8px;
}

.subtotal {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.28px;
  text-align: left;

  margin-bottom: 24px;
}

.shopping-bag {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.28px;
  text-align: left;

  margin-bottom: 8px;
}

.items-number {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: left;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;

  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 24px;
}

.cart-item-image {
  width: 224px;
  height: 234px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.28px;
  text-align: left;
}

.tag {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.82px;
  text-align: left;

  color: #6b3e1a;
}

.price {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.28px;
  text-align: left;
}

.details {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;

  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: left;
}

.details span {
  border-right: 1px solid #b5b5b5;
  padding-right: 5px;
}

.details span:last-child {
  border-right: none;
  padding-right: 0;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}

.details span button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #919191;

  cursor: pointer;
}

.cart-item-details h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.28px;
  text-align: left;
}

.cart-item-details p {
  margin: 5px 0;
}

.cart-item-details .remove-button {
  background: none;
  color: #a20e0e;
  border: 1px solid #a20e0e;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;

  width: fit-content;
}

.cart-item-details button {
  margin: 0 5px;
}
