.checkout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.checkout-header {
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  color: #1a1a1a;

  margin: 40px auto;
}

.checkout-main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  flex-grow: 1;
  gap: 40px;

  margin: 0 auto;

  width: 1255px;
}

.checkout-left {
  width: 100%;
}

.buy-now-button {
  padding: 15px;
  background-color: #10413f;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;

  transition: all 0.3s ease-in-out;
}

.buy-now-button:hover,
.buy-now-button:active {
  background-color: #0c312f;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .order-summary {
    width: 100%;
  }
}
