.delivery-address {
  margin-bottom: 20px;
}

.delivery-address h3 {
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.delivery-input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 8px;
}
