.delivery-options {
  margin-bottom: 20px;
  width: 75%;
}

.delivery-options h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.28px;
  text-align: left;

  margin-bottom: 16px;
}

.delivery-methods {
  display: flex;
  gap: 16px;
}

.delivery-method {
  padding: 10px 20px;
  border: 1px solid #10413f;
  background-color: white;

  transition: all 0.3s ease-in-out;
}

.delivery-method:hover,
.delivery-method:active {
  background-color: #e7ecec;
}

.delivery-method.active {
  background-color: #e7ecec;
}

.btn-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
