.delivery-options {
  border-radius: 8px;
  max-width: 500px;
  margin-bottom: 20px;
}

.delivery-options h3 {
  margin-bottom: 20px;
}

.delivery-methods {
  display: flex;
  gap: 10px;
}

.delivery-method {
  flex: 1;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  background: transparent;
}

.delivery-method.active {
  background-color: #e7ecec;
}

.btn-element {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-element span {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .delivery-options {
    max-width: 100%;
    padding: 10px;
  }

  .delivery-methods {
    flex-direction: column;
    gap: 10px;
  }
}
