@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.newsletter {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  background-color: #e7ecec;
  color: #000;
  /* padding: 60px; */
  border-radius: 5px;

  margin-top: 40px;

  height: 214px;
}

.newsletter p {
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-align: left;
}

.newsletter-input {
  display: flex;
}

.newsletter input {
  border: none;
  padding: 10px;
  border-radius: 24px;

  background: #d9d9d9;
}

.newsletter button {
  padding: 16px;
  gap: 8px;
  border-radius: 8px;
  border: none;

  background: #0c312f;
  color: white;
  cursor: pointer;
}

.footer {
  background: #10413f;
  padding: 40px 20px;
  text-align: left;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;

  /* gap: 20px; */
}

.footer-column {
  flex: 1;
  margin: 10px;
}

.footer-column h4 {
  margin-bottom: 20px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-align: left;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: left;
}

.footer-column a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
}

.social-icons li {
  margin-right: 10px;
  color: #fff;
}

.social-icons a {
  font-size: 20px;
}

.footer-bottom p {
  margin-top: 20px;
  color: #fff;
}
