.order-summary {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;

  /* width: 626px; */
}

.detail {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;

  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.28px;
  text-align: left;
}

.order-summary-header {
  display: flex;
  justify-content: center;
}

.order-header {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.28px;

  margin-bottom: 20px;
  position: relative;
}

.order-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #10413f;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.summary-details {
  margin-bottom: 20px;
}

.summary-item {
  display: flex;
  margin-bottom: 20px;
}

.summary-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.summary-item-details {
  display: flex;
  flex-direction: column;
}

.hello-world {
  border: none !important;
}
