.recommended-products {
  padding: 20px;
}

.recommended-products h2 {
  margin-bottom: 20px;
}

.recommend-product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1366px) {
  .recommend-product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
